.video{
    width: 550px;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
}

body {
    display: flex;
    height: 100vh;
        align-items: center;
    justify-content: center;
}
.dad{
    text-align:center
}
